<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Rate Brains</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>

    <link rel="stylesheet" type="text/css"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.12/handlebars.amd.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!--<script src="/js/js-url-2.5.0/url.js"></script>-->

</head>
<body>


<div class="container">
    <div class="header" th:fragment="header">
        <div class="header">
            CUBRIC
        </div>

        <div>
            <a th:href="@{/}">Home</a>

            <a th:if="${#request.userPrincipal != null}" th:href="@{/vote/do}"> Vote On Brains </a>
            <a th:if="${#request.userPrincipal != null}" th:href="@{/feedback}"> Feedback </a>
            <a th:if="${#request.userPrincipal != null}" th:href="@{/highscore}"> Scoreboard </a>

            <a th:if="${#request.userPrincipal != null}" th:href="@{/logout}"> Logout </a>


            <a th:if="${#request.userPrincipal == null}" th:href="@{/login}"> Login </a>

            <a th:if="${#request.userPrincipal == null}" th:href="@{/register}"> Register </a>

        </div>

        <h3 class="text-muted">Rate brains for us</h3>
    </div>


</div>


</body>
</html>