<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Feedback</title>
    <head th:replace="base :: head">

    </head>
<body>

<div th:replace="base :: header"></div>
<div class="alert alert-danger" th:if="${error != null}">Invalid input!</div>


<form class="form" method="post" action="/feedback">

    <div class="form-group">

        <label for="feedback">How easy is it to navigate the website?</label>

        <select name="question1" id="question1" class="form-control">
        <option value="5">Very Satisfied</option>
        <option value="4">Satisfied</option>
        <option value="3">Neutral</option>
        <option value="2">Dissatisfied</option>
        <option value="1">Very Dissatisfied</option>
    </select>
    </div>

    <div class="form-group">

        <label for="feedback2">Question 2:</label>
        <input  type="text" class="form-control" id="feedback2">

    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>