<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="base :: head">
</head>
<body>
<div th:replace="base :: header"></div>


<div class="container">

    <div class="jumbotron" style="text-align: center">
        <h3>Can you help us look at research brain scans?</h3>

        <h3>Want to help us learn about the brain and help to cure brain diseases?’</h3>

        <br><br>

        <h4>We map out the pathways in the brain using Magnetic Resonance Imaging.</h4>

        <h4>It’s important that we map the pathways accurately.</h4>

        <h4> We check this manually. Can you help tell which is wrong?</h4>

        <h4> We are going to teach you how to be an expert in this</h4>

    </div>


</div>


</body>