<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="base :: head">
</head>
<body>
<div th:replace="base :: header"></div>


<div class="container">
    <div class="jumbotron">
        <iframe src="https://cf-my.sharepoint.com/personal/downesj2_cardiff_ac_uk/_layouts/15/Doc.aspx?sourcedoc={d7b9031a-4bdb-418d-a05d-8b9798ff7cdb}&amp;action=embedview&amp;wdAr=1.7777777777777777"
                width="700" height="600" frameborder="0">This is an embedded <a target="_blank"
                                                                                href="https://office.com">Microsoft
            Office</a> presentation, powered by <a target="_blank" href="https://office.com/webapps">Office Online</a>.
        </iframe>
        <form method="post"><input type="submit" value="Save changes" class="btn btn-success"></form>
    </div>
</div>
</body>

</html>